<!DOCTYPE html>
<html>
<body ng-app="mymodal">
<!--views/all_requirements.hbs-->
<style>

body {
    margin: 0;
}

/* One radio button per line */
.contain label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}
/* Nothing to see here. */
.contain body {
  margin: 3em auto;
  max-width: 30em;
  font-family: Cabin, serif;
}

.contain fieldset {
  font-size: 1em;
  border: 2px solid #000;
  padding: 2em;
  border-radius: 0.5em;
}

.contain legend {
  color: #fff;
  background: #000;
  padding: 0.25em 1em;
  border-radius: 1em;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>

<div style="width:25%;float:left" >
	<ul id="list">
  	<li ><a	href="/dashboard">Field Inspectors</a></li>
  	<li ><a class="active" href="/requirements">All Requirements</a></li>
  	<li ><a href="/pend_requirements">Pending Requirements</a></li>
		<li	><a	href="/ful_requirements">Fulfilled Requirements</a><li>
		<li ><a href="/tasks">Tasks</a><li>
	</ul>
</div>
<div style="margin-left:50px;float:left;width:70%">
	<div ng-controller="MainCtrl">
    <h3>All Requirements</h3>
    <hr />
    <table class="table table-hover" style="width:100%" id="mytable">
		<thead>
		<tr>
          <td><label>Added on</label></td>
          <td><label>Added by</label></td>
          <td><label>Crop</label></td>
          <td><label>Requirements</label></td>
          <td><label>Location</label></td>
          <td><label>Fullfilled?</label></td>
		</tr>
		</thead>
		<tbody>
      {{#each requirements}}
        <tr>
          <td>{{this.timeofrequest}}</td>
          <td>{{this.seekeremail}}</td>
					<td>{{this.crop}}</td>
					<td>{{this.items}}</td>
					<td>{{this.locat}}</td>
					<td>{{this.fulfilled}}</td>
        </tr>
      {{/each}}
		</tbody>
    </table>
		
		<div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Requirement Status</h4>
       	  </div>
          <div class="modal-body">
						<div class= "contain">
							<fieldset>
  							<legend>Change Requirement Status</legend>
  							<label for="fulfill">
    							<input type="radio" value="Fulfilled" name="req_status" id="fulfill"> <span>Fulfilled</span>
  							</label>

  						<label for="not_fulfill">
    						<input type="radio" value="Not_Fulfilled" name="req_status" id="not_fulfill"> <span>Not Fulfilled</span>
  						</label>

						</fieldset>
						</div>
					</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="change" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <br />
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"</script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script>
	var tor;
	var se;
	var row;
  $('table tbody tr ').on('click',function(){
		tor=$(this).closest('tr').children()[0].textContent;
		se =$(this).closest('tr').children()[1].textContent;
		row=$(this).index();
      //$.get("/sd/fi/req/stat",{id:$(this).closest('tr').children()[1].textContent},function(data,status){
        //alert("Data: " + data + "\nStatus: " + status);
         $("#myModal").modal("show");
			//});
	});
	$('#change').on('click',function(){
		if($('input[name="req_status"]:checked').val())
		{
			$.get("/sd/fi/req/stat",{fulfilled:$('input[name="req_status"]:checked').val(),timeofrequest:tor,seekeremail:se},function(data,status){
				if(data && status)
				{
					alert("status changed");
					$('#mytable tbody').find('tr#0').find('td:eq(4)').html("hell");
					//$('#mytable').find('tr#'+row).find('td:eq(5)').html("hell");//$('input[name="req_status"]:checked').val()=="Fulfilled"?"Yes":"No");
				}
				else
					alert("Failed to change the status");
			});
		}
	});
</script>

</body>
</html>
