<!DOCTYPE html>
<html>
<head>
<style>

body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
</head>
<body>
<div style="width:25%;float:left" >
	<ul id="list">
  	<li ><a	href="/dashboard">Add a crop</a></li>
  	<li ><a href="/crops">Crops</a></li>
  	<li ><a href="/add_requirement">Add a Requirement</a></li>
		<li	><a	href="/requirements">Requirements Seeked</a><li>
		<li ><a class="active" href="/tasks">Tasks</a><li>
	</ul>
</div>
<div style="margin-left:50px;float:left;width:70%">
	<div >
    <h3>Tasks</h3>
    <hr />
    <table style="width:100%">
		<tr>
					<td><label>Assigned on</label></td>
          <td><label>Task</label></td>
          <td><label>Crop</label></td>
          <td><label>Region</label></td>
          <td><label>Status</label></td>
          <td><label>Assigned By</label></td>
		</tr>
      {{#each tasks}}
        <tr>
          <td>{{this.assignedOn}}</td>
          <td>{{this.task}}</td>
					<td>{{this.crop}}</td>
					<td>{{this.region}}</td>
					<td>{{this.taskStatus}}</td>
					<td>{{this.assignerEmail}}</td>
        </tr>
      {{/each}}
    </table>
    <br />
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"</script>

<script>
  $(document).ready(function(){
    
  });
</script>

</body>
</html>
